.ConteudoScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6rem;
  width: 6rem;
}

.chat {
  height: 60vh;
  margin-bottom: 1rem;
  overflow-y: auto;
  padding-right: 1rem; 
}

.student,
.teacher {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

.student p,
.teacher p {
  width: 60%;
  padding: 0.5rem;
  border-radius: 10px;
}

.student p{
  background-color: #fbb9c54f;
}

.teacher p{
  background-color: #ebebeb54;
}

.box3 {
  width: 90%;
}
