.MainInput{
  height: 5vh;
  width: 95%;
  border-radius: 15px;
  border: 2px solid #EBEBEB;
  padding-left: 10px; 
  padding-right: 10px;
}

.MainInput::placeholder{
  padding-left: 5%;
  color: #B5B5B5;
}