.MainBox2 {
  height: 70vh; 
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 5%; 
  justify-content: space-around;
}
  
.MainBox2 a {
  color: #FA5B77;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.85rem;
} 
  
.MainBox2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%; 
}

.TermsAccept {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.TermsPrivacy a {
  color: #FA5B77;
  text-decoration: none;
  text-align: justify;
  font-weight: 700;
}
.backArrow {
  position: absolute;
  top: 15px;
  left: 9px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

