.perfil-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
  }
  
  .perfil-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    background-color: #FFD1D1;
  }
  
  .perfil-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .perfil-info {
    display: flex;
    flex-direction: column;
  }
  
  .perfil-usuario {
    font-size: 18px;
    font-weight: bold;
  }
  
  .perfil-handle {
    font-size: 14px;
    color: #888;
  }
  
  .perfil-settings {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .perfil-seguidores {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: white;
  }
  
  .seguidores-info, .seguindo-info {
    text-align: center;
    margin: 0 20px;
  }
  
  .btn-adicionar-amigos {
    background-color: #FF7F7F;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
  }
  
  .perfil-completar {
    background-color: #FF7F7F;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
  }
  
  .btn-comecar {
    background-color: white;
    color: #FF7F7F;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  

  .icon-home, .icon-friends, .icon-profile {
    font-size: 24px;
    cursor: pointer;
  }
  