*{
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F8F8F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TelaInicial {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  min-height: 100vh; 
  margin: 0; 
  padding: 0;   
}

.TelaInicial img {
  width: 60%;
  height: auto;
}

.TelaInicial button {
  padding: 10px 20px;
  margin-top: 20px;
}

.TelaInicial p, .TituloPrincipal{
  color: #FA5B77;
}

.TelaInicial h2{
  color: #8C8383;
}

.TelaInicial .box1{
  margin-top: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.TelaInicial .box1 h2{
  font-size: larger;
  font-weight: 600;
}

.TelaInicial .box2{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 10%;
}

.TelaInicial .box2 p{
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 14px;
}

.TelaInicial .box1 p, .TelaInicial .box2 button{

  font-weight: bolder;
  text-transform: uppercase;
}

.LogoPrincipal {
  height: 100%;
  width: 100%;
}

.botaoPrincipal {
  background-color: #FA5B77;
  height: 6vh;
  width: 95%;
  border-radius: 15px;
  border-color: transparent;
  font-size: 120%;
  color:#F8F8F8;
}

.MainInput{
  height: 5vh;
  width: 95%;
  border-radius: 15px;
  border: 2px solid #EBEBEB;
}

.MainInput::placeholder{
  padding-left: 5%;
  color: #B5B5B5;
}

.MainBox{
  height: 40vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 10%;
  justify-content: space-between;
}

.MainBox a{
  color: #FA5B77;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.85rem;
}

.MainBox form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}

.MainBox2{
  height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 10%;
  justify-content: space-around;
}

.MainBox2 a{
  color: #FA5B77;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.85rem;
}

.MainBox2 form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.MainBox3{
  height: 35vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 10%;
  justify-content: space-around;
}

.MainBox3 a{
  color: #FA5B77;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.85rem;
}

.MainBox3 form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.MainBox4{
  height: 40vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 10%;
  justify-content: space-around;
}

.MainBox4 a{
  color: #FA5B77;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.85rem;
}

.MainBox4 form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
  gap: 1rem;
}

.EnviarCadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.EnviarCode{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
}

.InputCode{
  height: 5vh;
  width: 100%;
  border-radius: 15px;
  border: 2px solid #EBEBEB;
  text-align: center;
}

.TermsPrivacy p {
  color: #B5B5B5;
  text-align: justify;
  font-weight: 600;
  font-size: 0.85rem;
}

.TermsPrivacy a {
  color: #FA5B77;
  text-decoration: none;
  text-align: justify;
  font-weight: 600;
}

.TermsAccept{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.MainDescription{
  color: #FA5B77;
  text-align: center;
  font-weight: 400;
  font-size: 0.90rem;
}

.EnviarNovaSenha{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}
.EnviarNovaSenha form{
  height: 50%;
}

.Comecar {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  min-height: 100vh; 
  margin: 0; 
  padding: 0;
}

.box2{
  height: 70vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Comecar img {
  width: 60%;
  height: auto;
}

.Dialog {
  height: 7vh;
}

.Dialog2{
  height: 10vh;
  padding: 0.5em;
}

.Dialog, .Dialog2{
  display: flex;
  border: 1px solid #EBEBEB;
  border-radius: 1em;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.Dialog p, .Dialog2 {
  color: #B5B5B5;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1); 
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.error-popup {
  position: fixed;
  top: 20px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeout 4s forwards;
}

@keyframes fadeout {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
